.porple{
background-color: blueviolet;
display: flex;
justify-content: center;
padding: 30px;

}
.blue{

background-color: aqua;
margin: 20px;
padding: 20px;

}

.yo{

background-color: brown;
padding: 20px;
margin: 20px;

}

.flex{

display: flex;


}

.purple{
    background-color: black;
    display: flex;
    justify-content: center;
    padding: 30px;
}
.blue{
    background-color: blue  ;
    padding: 20px;
    margin: 30px;

}

.yo{
    background-color: rgb(253, 238, 27)  ;
    padding: 20px;
    margin: 10px;

    
}

.flex{
    display: flex;

}

.red{
    background-color: rgb(255, 38, 38);
    padding-right: 80px;
}

.verde{
    background-color: rgb(15, 255, 27);
    padding-bottom: 80px;
}


.roxo{
    background-color: rgb(255, 2, 255);
    display: flex;
    justify-content: center;
    padding: 30px;
}

.blue{
    background-color: blue  ;
    padding: 20px;
    margin: 30px; 
}

.flex{
    display: flex;
}

.yo{
    background-color: rgb(255, 238, 0) ;
    padding: 20px;
    margin: 10px;
}

.gordao{
    background-color: rgb(253, 0, 0);
    padding-bottom: 80PX;
}

.gordao{
    padding-bottom: 80PX;
}




.medio{
    background-color: rgb(255, 0, 0);
    padding-right: 100px;
    
    
}

.orange{
    background-color: rgb(250, 171, 0);
    padding-bottom: 80px;

}


.borda{
    margin-top: 20;
}

.par{
    padding-bottom: 20px;
}

.porple{
background-color: blueviolet;
display: flex;
justify-content: center;
padding: 30px;
}
.blue{
background-color: aqua;
margin: 20px;
padding: 20px;
}
.yo{
background-color: brown;
padding: 20px;
margin: 20px;
}
.flex{
display: flex;
}
.red{
background-color: yellow;
padding-right: 110px;
}
.green{
 background-color: black;
 padding-bottom: 80px;
}
.preto {
background-color: chartreuse;
padding-bottom: 80px;
margin: 20px;
}
.PURPURA{
width: 85px ;
height: 85px ;
}
.LADO{
 padding-top: 80px;
}
.burro{
 padding-top: 50px ;
}
.merda{
 padding-left: 30px;
}
.borda{
margin-top: 20px;
}
.gordao{
padding-bottom: 40px;
}
.un{
padding-bottom: 100px ;
}
.dos{
 padding-bottom: 80px;
}
.tam{
width: 80px;
}
.teste{
margin-top: 0px;
margin-bottom: 0px;
background-color: blue;
height: 20px;
}
.testes{
 margin-bottom: 0px;
}
.pontos{
padding-bottom: 90px;
margin-bottom: 0px;
}
.like{
padding-right: 80px;
}
.fake{
margin-right: 0px;
width: 60px;
}
.ladoso{
 width: 40px;
}
.deus{
 height: 160px;
}
.kratos{
 height: 60px;
}
.ladosoy{
 width: 80px;
}
.l{
width: 80px;
margin-right: 0px;
margin-top: 0px;
margin-bottom: 0px;
}
.p{
 margin-bottom: 10px;
 height: 50px;

}
.kratoss{
height: 60px;
margin-bottom: 20px;
}
.e{
 margin-left: 0px;
}
.ladoco{
 width: 40px;
 margin-right: 0px;
}
.muito{
 width: 60px;
}
.kratosss{
 height: 80px;
 margin-bottom: 0px;
}
.muitos{
 width: 80px;
}